<html>
    <header>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Antiphy's blog | Powered by eden</title>
        <script src="public/static/js/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="public/static/css/semantic.min.css"></link>
    </header>
    <body>
        <div class="ui container"></div>
    </body>
    <footer></footer>
</html>