<html>
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{{template "Title" .}} | Powered by eden</title>
    <link rel="stylesheet" type="text/css" href="public/static/css/semantic.min.css"></link>
</head>
<body>
    <div class="ui left vertical menu sidebar">
        <a class="item">主页</a>
        <a class="item">笔记</a>
        <a class="item">登录</a>
        <a class="item">友链</a>
        <a class="item">关于</a>
    </div>
    <div class="pusher">
        <div class="ui container">
            <div class="ui grid">
                <div class="ui segments">
                    <div class="ui segment"></div>
                    <div class="ui green segment">
                        {{.Content}}
                    </div>
                </div>
            </div>
            <div class="ui container">
                <div class="ui six wide cloumn"></div>
                <div class="ui ten wide column">
                    <div class="bs-component">
                        <blockquote>
                            <p>Powered by Eden. Eden is a lovely blog app written in golang using many open source project.</p>
                            <small>Under license MIT, by Lotus.</small>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md3"></div>
            </div>
        </div>
    </div>
    <script src="public/static/js/jquery-2.2.4.min.js"></script>
    <script src="public/static/js/semantic.min.js"></script>
</body>
</html>