{{define "Content"}}
    <div class="ui basic segment">
        <h4 class="header">文章列表</h4>
        <div class="ui very relaxed list">
            {{if .arts}}
            <div class="item">
                <div class="content">
                    <a class="header">{{.Title}}</a>
                    <div class="description">由 {{.Username}} 发表于 {{.CreatedAt}} .</div>
                </div>
            </div>
            {{else}}
            <div class="item">
                <div class="content">
                    <a class="header">目前没有文章</a>
                    <div class="description"></div>
                </div>
            </div>
            {{end}}
        </div>
        <div class="content"></div>
    </div>
{{end}}